@charset "utf-8";
/* CSS Document */
/*body*/
body{font-family: century gothic; width: 80%; margin: 0 auto; color: #808080}
/*article*/
#paragrapher, .slideshow-container{width: 49%; float: left}


	/*slideshow*/
* {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}
#img_touch{width: 30px}

/* Slideshow container */
.slideshow-container { max-width: 1000px; position: relative; margin: 0 auto}

/* Next & previous buttons */
.prev, .next {cursor: pointer; position: absolute; top: 50%; width: auto; padding: 16px; margin-top: -22px; color: #000080; font-weight: bold; font-size: 18px; transition: 0.6s ease; border-radius: 0 3px 3px 0}

/* Position the "next button" to the right */
.next {right: 0; border-radius: 3px 0 0 3px}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {background-color: #808080}

/* Caption text */
.text{color: #000080; font-size: 25px; position: absolute; bottom: 8px; width: 100%; padding-bottom: 5%; background-color: none}
.text p{text-shadow: 0px 0px 8px #fff}
.uno{text-align: left}
.due{text-align: right}
.tre{text-align: center}
.quattro{text-align: right}
.cinque{text-align: left}

/* Number text (1/3 etc) */
.numbertext {color: #f2f2f2; font-size: 12px; padding: 8px 12px; position: absolute; top: 0}

/* The dots/bullets/indicators */
.dot {cursor: pointer; height: 15px; width: 15px; margin: 0 2px; background-color: #bbb; border-radius: 50%; display: inline-block;  transition: background-color 0.6s ease}

.active, .dot:hover {background-color: #000080}

/* Fading animation */
.fade {-webkit-animation-name: fade; -webkit-animation-duration: 1.5s; animation-name: fade; animation-duration: 1.5s}


/*scelte sotto al testo*/
ul li{
	list-style:none;
}

#wrapper{
	width: 728px;
	margin: 60px auto;
	background: #fff;
	padding: 10px;
	height: 280px;
	border:12px solid #DDE0CA;
}
.nav{
	overflow:hidden;
	margin:0 auto;
	width:750px;
}
.nav li{
	width:145px;
	height:180px;
	display:inline-block;
	float:left;
	cursor:pointer;
	transition:all 0.4s;
	-webkit-transition:all 0.4s;
	-moz-transition:all 0.4s;
}
.nav li:hover{
	opacity:1;
	height:190px;
}
.nav li.crf:hover{
	border-bottom:4px solid rgba(11, 132, 138, 1);
}
.nav li.rep:hover{
	border-bottom:4px solid #708090;
}
.nav li.st:hover{
	border-bottom:4px solid rgba(32, 16, 49, 1);
}


img.icon{
	background:rgba(255, 255, 255, 0.4);
	padding:14px;
	border-radius:100%;
	margin:30px auto;
	display:block;
	transition:all 0.8s;
	-webkit-transition:all 0.8s;
	-moz-transition:all 0.8s;
	box-shadow: 0 0 0 30px rgba(255,255,255,0.1);
	-webkit-box-shadow: 0 0 0 10px rgba(255,255,255,0.1);
}
.nav li:hover img.icon{
	background:rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 0 10px rgba(255,255,255,0.8);
	-webkit-box-shadow: 0 0 0 0 rgba(255,255,255,0.8);
}
.nav li span{
	text-align:center;
	display:block;
	padding-top:10px;
	color:rgba(255, 255, 255, 1);
	font-size:0.9em;
	transition:padding-top 0.4s;
	-webkit-transition:padding-top 0.4s;
}
.nav li a{
	text-align:center;
	display:block;
	padding-top:10px;
	color:rgba(255, 255, 255, 1);
	font-size:0.9em;
	transition:padding-top 0.4s;
	-webkit-transition:padding-top 0.4s;
	text-decoration:none;
}
.nav li:hover span{
	padding-top:20px;
}
.crf{
	background-color: #AFEEEE;
}
.rep{
	background-color: #708090;
}
.st{
	background-color: #6495ED;
}

.boxHBindex
{
    position: fixed;
    top: 0px;
    border: 0px solid #333333;
    background-color: #333333;
    width: 300px;
    height: 99%;
    padding: 5px 5px 5px 5px;
    text-align: center;
    z-index: 100002;
    right: 1px;
}
